*{
    font-family: 'Finlandica', sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a,a:focus,a:active,
a:hover,a:before,a:after{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.header{
    width: 1400px;
    height: 60px;
    background-color: #373A3C;
    margin: 0 auto;
}
.header__forms{
    width: 1070px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.search-form{
    margin: 9px 0 8px 0;
}
.search{
    width: 210px;
    height: 28px;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 55px;
}
.search .search__color{
    font-size: 16px;
    line-height: 21px;
    color: #435766;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.services{
    width: 687px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 300px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.menu__item-link{
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 17px;
}
.link-list:after{
    content: '';
    position: absolute;
    top: 32px;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    background-image: url("../icons/green-arrow.svg");
}
.log-in{
    width: 117px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.log-in__link:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 18px;
    margin-left: -27px;
    background-image: url("../icons/user.svg");
}
.log-in__link:after{
    content: '';
    position: absolute;
    top: 28px;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    background-image: url("../icons/green-arrow.svg")
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.outer-first-block{
    height: 644px;
    background-image: url("../pics/Star-Wars-Battlefront-II-combat.png");
}
.outer-second-block{
    height: 865px;
    background-color: #686C6F;
}
.description-block{
    height: 215px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
.description__title{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.description__subtitle{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.description__about{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 12px 0 27px 0;
    width: 390px;
    height: 95px;
}
.slide{
    height: 648px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-first-block{
    width: 1400px;
    display: flex;
    align-items: center;
}
.inner-second-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-prev{
    transform: rotate(0.5turn)
}
.slide-prev__icon{
    width: 12px;
    height: 20px;
    opacity: 0.7;
}
.slide-prev__icon:hover{
    width: 18px;
    height: 30px;
    opacity: 1;
    transition: all 0.7s ease-out;
    cursor: pointer;
}
.slide-next__icon{
    width: 12px;
    height: 20px;
    opacity: 0.7;
}
.slide-next__icon:hover{
    width: 18px;
    height: 30px;
    opacity: 1;
    transition: all 0.7s ease-out;
    cursor: pointer;
}
.buttons-block-btn{
    height: 38px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}
.btn__green{
    width: 136px;
    margin-right: 10px;
    background-color: #8DD83D;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    border-right: 2px solid #8DD83D;
    border-bottom: 2px solid #8DD83D;
    transition: .4s ease-in-out;
}
.btn__green:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #00b300;
    cursor: pointer;

}
.btn__green:active{
    border-top: 2px solid #8DD83D;
    border-left: 2px solid #8DD83D;
    border-right: none;
    border-bottom: none;
    transition: 0.1ms ease-in-out;
}
.btn__metalic{
    width: 148px;
    background-color: #686C6F;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    transition: .4s ease-in-out;
}
.btn__metalic:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #575656;
    cursor: pointer;

}
.btn__metalic:active{
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    border-right: none;
    border-bottom: none;
    transition: 0.1s ease all;
}
.xbox-logo{
    width: 63px;
    height: 64px;
    margin: 63px 0 20px 0;
}
.xbox-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}
.xbox-text__title{
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.xbox-text__subtitle{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.proposes{
    width: 1079px;
    height: 420px;
    display: flex;
    justify-content: space-between;
}

.proposes__item{
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FFFFFF;
    border: 1px solid #DB3138;
}
.proposes-content{
    display: flex;
    flex-direction: column;
    padding:  22px 21px 27px 21px;
}