*{
    font-family: 'Finlandica', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
}
ul{
    list-style-type: none;
}
a,a:focus,a:active,
a:hover,a:before,a:after{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.header{
    width: 1400px;
    height: 60px;
    background-color: #373A3C;
    margin: 0 auto;
}
.header__forms{
    width: 1070px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.search-form{
    margin: 9px 0 8px 0;
}
.search{
    width: 210px;
    height: 28px;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 55px;
}
.search .search__color{
    font-size: 16px;
    line-height: 21px;
    color: #435766;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.services{
    width: 687px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 300px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.menu__item-link{
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 17px;
}
.link-list:after{
    content: '';
    position: absolute;
    top: 32px;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    background-image: url("../icons/green-arrow.svg");
}
.log-in{
    width: 117px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.log-in__link:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 18px;
    margin-left: -27px;
    background-image: url("../icons/user.svg");
}
.log-in__link:after{
    content: '';
    position: absolute;
    top: 28px;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    background-image: url("../icons/green-arrow.svg")
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.outer-first-block{
    height: 644px;
    background-image: url("../pics/Star-Wars-Battlefront-II-combat.png");
}
.outer-second-block{
    height: 865px;
    background-color: #686C6F;
}
.description-block{
    height: 215px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
.description__title{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.description__subtitle{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.description__about{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 12px 0 27px 0;
    width: 390px;
    height: 95px;
}
.slide{
    height: 648px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-first-block{
    width: 1400px;
    display: flex;
    align-items: center;
}
.inner-second-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-prev{
    transform: rotate(0.5turn)
}
.slide-prev__icon{
    width: 12px;
    height: 20px;
    opacity: 0.7;
}
.slide-prev__icon:hover{
    width: 18px;
    height: 30px;
    opacity: 1;
    transition: all 0.7s ease-out;
    cursor: pointer;
}
.slide-next__icon{
    width: 12px;
    height: 20px;
    opacity: 0.7;
}
.slide-next__icon:hover{
    width: 18px;
    height: 30px;
    opacity: 1;
    transition: all 0.7s ease-out;
    cursor: pointer;
}
.buttons-block-btn {
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}
.btn__green{
    width: 136px;
    height: 38px;
    margin-right: 10px;
    background-color: #8DD83D;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    border-right: 2px solid #8DD83D;
    border-bottom: 2px solid #8DD83D;
    transition: .4s ease-in-out;
}
.btn__green:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #00b300;
    cursor: pointer;

}
.btn__green:active{
    border-top: 2px solid #8DD83D;
    border-left: 2px solid #8DD83D;
    border-right: none;
    border-bottom: none;
    transition: 0.1ms ease-in-out;
}

.btn__metalic{
    width: 148px;
    height: 38px;
    background-color: #686C6F;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    transition: .4s ease-in-out;
}
.btn__metalic:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #575656;
    cursor: pointer;

}
.btn__metalic:active{
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    border-right: none;
    border-bottom: none;
    transition: 0.1s ease all;
}
.xbox-logo{
    width: 63px;
    height: 64px;
    margin: 63px 0 20px 0;
}
.xbox-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}
.xbox-text__title{
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.xbox-text__subtitle{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.proposes{
    width: 1079px;
    height: 420px;
    display: flex;
    justify-content: space-between;
}

.proposes__item{
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #8DD83D;
    border-radius: 5px;
    cursor: url('../icons/triple.png'), auto;
}
.proposes-content{
    display: flex;
    flex-direction: column;
    padding:  22px 21px 27px 21px;
}
.process-content__title{
    font-size: 18px;
    line-height: 21px;
    color: #435766;
}
.process-content__subtitle{
    font-size: 24px;
    line-height: 28px;
    color: #435766;
    margin: 13px 0 38px 0;
}
.proposes-picture{
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-picture__first{
    width: 318px;
}
.proposes__item:hover .process-picture__first, .active .process-picture__first{
    transition: .7s ease-in-out;
    width: 350px;
}

.green-process-button{
    height: 60px;
    width: 278px;
    background-color: #8DD83D;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    border-right: 2px solid #8DD83D;
    border-bottom: 2px solid #8DD83D;
    transition: .4s ease-in-out;
}
.green-process-button:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #00b300;
    cursor: pointer;

}
.green-process-button:active{
    border-top: 2px solid #8DD83D;
    border-left: 2px solid #8DD83D;
    border-right: none;
    border-bottom: none;
    transition: 0.1ms ease-in-out;
}
/* Third Block */
.outer-third-block{
    height: 880px;
    background-image: url("../pics/XXII.jpg");
    background-color: rgba(23, 23, 23, 0.5);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.third-block__wrapper{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.carousel__text{
    text-align: center;
    margin: 97px 0 27px 0;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
}
.carousel-select{
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
    position: relative;
}
.store-box{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}
.store-box__btn{
    width: 207px;
    height: 53px;
    background-color: #686C6F;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    transition: .4s ease-in-out;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 5px;
}
.store-box__btn:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #575656;
    cursor: pointer;

}
.store-box__btn:active{
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    border-right: none;
    border-bottom: none;
    transition: 0.1s ease all;
}
.proposes__item:hover .buttons-block-btn, .active .buttons-block-btn{
    transition: 0.7s ease all;
    width: 306px;
    height: 66px;
    margin-top: 20px;
    cursor: url('../icons/pussycat.png'), auto;
}
.proposes__item:hover,.active {
    width: 352px;
    height: 462px;
    align-items: center;
    transition: 0.7s ease all;
    background-color: #435766;
    border-color: #DB3138;
}

.proposes__item:hover .process-content__title, .proposes__item:hover .process-content__subtitle, .active .process-content__title, .active .process-content__subtitle{
    transition: 0.7s ease all;
    color: #FFFFFF;
}
.inner-fourth-block{
    height: 480px;
    background-image: url("../pics/Joystics.jpg");
    filter: sepia(25%);
}
.design-lab{
    height: 221px;
    width: 500px;
    padding: 114px 0 145px 166px;
}
.design-lab__title{
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.design-lab__subtitle{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 9px 0 37px 0;
}
.lab-buttons{

}
.lab-btn__metalic{
    width: 207px;
    height: 60px;
    background-color: #686C6F;
    border:none;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    transition: .4s ease-in-out;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 10px;
}
.lab-btn__metalic:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #575656;
    cursor: pointer;
}
.lab-btn__metalic:active{
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    border-right: none;
    border-bottom: none;
    transition: 0.1ms ease all;
}
.lab-btn__green{
    width: 278px;
    height: 60px;
    background-color: #8DD83D;
    border: none;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.3);
    border-right: 2px solid #8DD83D;
    border-bottom: 2px solid #8DD83D;
    transition: .4s ease-in-out;
    border-radius: 5px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.lab-btn__green:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    background-color: #00b300;
    cursor: pointer;

}
.lab-btn__green:active{
    border-top: 2px solid #8DD83D;
    border-left: 2px solid #8DD83D;
    border-right: none;
    border-bottom: none;
    transition: 0.1ms ease-in-out;
}
.inner-five-block{
    height: 395px;
    background: #373A3C;
}
.header-items{
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
}
.section-xbox{
    height: 157px;
    text-align: left;

}
.green__text{
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
}
.services-footer{
    width: 1200px;
    height: 317px;
    margin: 0 auto;
    border-bottom: 1px solid #A7A1A9;
}
.section-xbox{
    margin-right: 250px;
    color: #FFFFFF;

}
.section-item{
    padding-bottom: 29px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.services-sections{
    display: flex;
    padding-left: 65px;
    padding-top: 58px;
    height: 317px;
}
.media-socials{
    margin-top: 28px;
}
.social-twitter{
    margin: 0 20px;
}
.lang-sign{
    width: 1200px;
    margin: 19px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-white{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.slide-select{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: inherit;
    border: none;
    cursor: url('../icons/pngegg.png'), auto;
}
.slide-select__prev{
    top: -50px;
    left: -20px;
    transform: rotate(0.25turn);
}
.slide-select__next{
    top: -50px;
    left: 1330px;
    transform: rotate(0.75turn);
}
.prev-icon, .next-icon{
    width: 20px;
    height: 10px;
}
